.text-area {
	display: flex;
	flex-direction: column;

	margin-bottom: 20px;
	font-size: 1em;
}

.text-area__label {
	color: #ffffff;
	margin-bottom: 8px;
}

.text-area__info {
	margin-bottom: 8px;
	font-size: 0.9em;
}

.text-area__txt {
	background-color: var(--main-bg);
	width: 100%;
	padding: 12px;
	color: #ffff;
}

.text-area__txt:focus {
	outline: none !important;
	border: 2px solid hsl(206, 64%, 64%) !important;
}

.text-area__errors {
	color: red;
	margin: 8px 0;
}
