.comment {
	margin: 8px 0px;
	font-size: 0.9em;
	display: inline-block;
	color: whitesmoke;
}

.comment > p {
	display: inline-block;
	word-break: break-word;
}

.comment__time {
	font-size: 0.88em;
	margin-left: 5px;
	color: #7e858c;
}

.delete {
	margin-left: 8px;
}
